.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
}

.text-sub {
  color: #0ab5b0;
}

.text-primary {
  color: #ffffff;
}

.text-secondary {
  color: #2d323a;
}

.bg-secondary {
  background-color: #ffbb5c;
}

.bg-primary {
  background-color: #ffffff;
}
.bg-block {
  background-color: #2d323a;
}

.background-wrapper {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.821),
      rgba(0, 0, 0, 0.149)
    ),
    url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #f4821e; /* Green */
  border: none;
  color: white;
  width: 200px;
  padding: 6px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.topbar {
  background-color: #1b15100d;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
.topbart-nav {
  height: 100%;
  width: 15%;
  border-radius: 0px 0px 0px 40px;
}
