.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 35px;
  font-weight: 700;
}
h2 {
  font-size: 30px;
  font-weight: 700;
}
h4 {
  font-size: 18px;
  font-weight: 400;
}
h5 {
  font-size: 15px;
  font-weight: 500;
}
h6 {
  font-size: 13px;
  font-weight: 500;
}
.text-sub {
  color: #0ab5b0;
}
.textMain {
  color: #ffffff;
}

.textPrimary {
  color: #2d323a;
}

.textSecondary {
  color: #9ca0af;
}

.bgSecondary {
  background-color: #ffbb5c;
}

.bgPrimary {
  background-color: #ffffff;
}
.bgNav {
  background-color: #f1f1f0;
}
.bgBlock {
  background-color: #2d323a;
}
.btnColorHappy {
  background-color: #75bd43; /* Green */
}
.btnColorUnhappy {
  background-color: #bd4343; /* Green */
}

.background-wrapper {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.821),
      rgba(0, 0, 0, 0.149)
    ),
    url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #f4821e; /* Green */
  border: none;
  color: white;
  width: 200px;
  padding: 6px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.reviewBtn {
  border: none;
  border-radius: 12px;
  color: white;
  width: 220px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.dropShadow {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
.topbart-nav {
  height: 100%;
  width: 15%;
  border-radius: 0px 0px 0px 40px;
}
.blockConatiner {
  height: 90%;
  width: 600%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  transition: all 0.25s ease-in-out;
}
.blockSection {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  background-image: url(./assets/blockBg.png);
  background-repeat: repeat;
  background-size: contain;
  padding-block: 30px;
  margin-inline: 25px;
  z-index: 1000;
}

.blockIn {
  animation: AnmIn 0.65s ease-in-out forwards;
}

.blockOut {
  animation: AnmOut 0.65s ease-in-out forwards;
}

form {
  background-color: #2d323a;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #6d6d6dc6;
}
form label {
  font-size: 12px;
}
input[type="text"],
input[type="email"],
input[type="phone"],
input[type="tel"],
input[type="date"],
input[type="number"],
textarea {
  height: 35px;
  padding: 0px 10px;
  margin-top: 4px;
  box-sizing: border-box;
  border: 1px solid #6d6d6d;
  border-radius: 3px;
  background-color: #55555500;
  color: white;
  font-size: 13px;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
textarea {
  padding: 5px 10px;
}

form .submitBtn {
  background-color: #fdbb45;
  background-color: #f4821e;
  border: none;
  color: #ffffff;
  padding: 10px 15px;
  width: 1090%;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.starBlock {
  width: 85px;
  height: 85px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.starRange {
  width: 100%;
}

.btnActive {
}

.btnDeactive {
  background-color: #7e848e !important;
  pointer-events: none;
}

.divline {
  width: 100%;
  border-top: 1px solid #7e848e;
  margin-top: 10px;
}

@keyframes AnmIn {
  0% {
    translate: 120% 0;
    display: none !important;
  }
  100% {
    translate: 0 0;
  }
}
@keyframes AnmOut {
  0% {
    translate: 0 0;
  }
  100% {
    translate: -120% 0;
    display: none !important;
  }
}
